body{
	header{
		h1{
			font-weight: 700;
			font-size: 1.5em;
			margin-bottom: 1em;
		}
	}
	.wrapper, .addTask{
		border: 2px solid black;
		padding: 1.3em;
	}
	.wrapper{
		width: 264px;
		max-width: 264px;
		.todo{
			form{
				input[type='submit']{
					border: none;
					color: white;
					background-color: black;
					padding: 0.8em 1em;
					margin:1em 0;
				}
			}
		}
	}
	.addTask{
		form{
			label{
				display: block;
				margin-bottom: 0.8em;
				vertical-align: bottom;
			}
			input[type="submit"]{
				border: none;
				color: white;
				background-color: black;
				padding: 0.8em 1em;
				vertical-align: bottom;
				margin-bottom: 2px;
			}
			.result{
				.error{
					color: red;
				}
				.correct{
					color: green;
				}
			}
		}
	}
}