@import 'reset';
@import 'variables';

//Régles générales
*{
	box-sizing: border-box;
}
h1,h2,input,label,p{
	font-family: $font;
}
body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h2{
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 1em;
}

//Pages
@import 'formulaire';